{% extends "base.html" %}

{% block body %}

<img src="static/me2.jpg" width="15%">

<h1>About Me</h1>
<p style="font-size:120%;">
    
My name is Rasul Iskandarov and I am 3rd-year student of course called "Software Development". <br><br>

I am actively participating on lectures, giving some thoughts and comments. Before IT Carlow I already had experience in coding and I always <br>
thinking about many ways for finding the best way of solving exercise. I am trying to self-educate myself through books, online courses. <br>
For example, I learned JavaScript, HTML and CSS from course in "Udemy.com". <br><br>
Despite fact that sometimes I can spend many hours in the front of PC for making homework I am not getting tired! That's because I am <br>
passionate about solving interesting and mind-blowing exercises😅 <br>
<br>

<h2>My Social Medias:</h2>
<a target="_blank" href="https://www.facebook.com/profile.php?id=100004557584115"><img src="static/fb.png" width="4.9%"></a>
<a target="_blank" href="https://www.instagram.com/rasul_isk/"><img src="static/ig.png" width="5%"></a>
<a target="_blank" href="https://wa.me/994554713245"><img src="static/wp.png" width="5%"></a>

</p>
{% endblock %}