{% extends "base.html" %}

{% block body %}
<img src="static/computing.jpg" width="30%">

<h1>Computing Technologies</h1>

<p style="font-size:120%;">
    
The first electronic computers were used to perform difficult numerical calculations, but gradually<br>
they have come to take on much wider and more complicated roles. They now perform a diverse array of<br>
services and functions, and play a major role in most people's personal and professional lives.<br><br>

Note that the list below is designed to give examples and is not exhaustive; there are more computer<br>
uses than the 3 listed below. Here are my most favourite computing technologies:<br>


<li style="font-size:150%; display:inline"><a href="/computing/softdev">Software Development</a></li>&nbsp&nbsp&nbsp
<li style="font-size:150%; display:inline"><a href="/computing/VR">Virtual Reality</a> </li>&nbsp&nbsp&nbsp
<li style="font-size:150%; display:inline"><a href="/computing/IT">Information Technology</a> </li>


</p>


{% endblock %}