{% extends "base.html" %}

{% block body %}
*This CV is created in EuroPass Format. <br><br>

<img src="static/CV.png" width="20%">
<h1>Rasul Iskandarov</h1>

<h2>General Information</h2>
Date of birth: 02/01/2002 <br>
Nationality: Azerbaijani<br>
Gender: Male <br>
Phone Number: +3530833818628 <br>
Email: rasul_iskenderov@mail.ru <br>
Home Address: Binaqadi district, Ajami Nakchivani 12, apt 16, AZ1130, Baku, Azerbaijan <br>


<h2>Work Experience</h2>
<b><i>ADMINISTRATIVE ASSISTANT IN CRUCEL - IT SUPPORT & IT OUTSOURCING<br></i></b>
<ul>
<li>Repair and Upgrade of Computers</li>
<li>Repair and Installation of Phones</li>
<li>Diagnose and Installation of Internet Connection</li>
<li>Setup of Operating Systems and Software</li>
<li>Software Development and Modification</li>
</ul>

<h2>Education and training</h2>
01/09/2018 – 06/2019 – K. Donelaičio g. 73, Kaunas, Kaunas, Lithuania<br>
<i><b>BACHELOR IN INFORMATICS – Kaunas University of Technology<br></b></i>
<a target="_blank" href="https://en.ktu.edu/">KTU</a><br><br>

01/09/2019 – CURRENT – Institute of Technology Carlow, Kilkenny Road, Carlow, Ireland<br>
<i><b>BACHELOR OF SCIENCE IN SOFTWARE DEVELOPMENT – IT Carlow<br></b></i>
<a target="_blank" href="https://www.itcarlow.ie/">IT Carlow</a><br><br>

12/02/2018 – 26/07/2018 – 70 Koroghlu Rahimov St, Baku, Azerbaijan<br>
<i><b>COURSE OF SOFTWARE DEVELOPMENT, NETWORK TECHNOLOGIES AND SYSTEM ADMINISTRATION<br></b></i>
IT STEP Computer Academy <br>
<a target="_blank" href="https://itstep.org/en/about-academy">IT Carlow</a><br><br>

01/09/2011 – 30/06/2016 – 3 M\R ,H. ƏLIYEV 54, Baku, Azerbaijan<br>
<i><b>CERTIFICATE IN VIOLIN – Music School No. 20 named after S. Alakbarova<br><br></b></i>

2 Windmill Ln, Dublin Docklands, Dublin, Ireland<br>
<i><b>CERTIFICATE IN COMPLETE JAVASCRIPT COUSE – Udemy<br></b></i>
<a target="_blank" href="https://www.udemy.com/course/the-complete-javascript-course/">Course Link</a><br><br>



<h2>Language Skills</h2>
Mother tongue(s): AZERBAIJANI<br><br>

Other language(s):<br>
RUSSIAN C2<br>
ENGLISH C1<br>
TURKISH B1<br><br>

*Levels: A1 and A2: Basic user; B1 and B2: Independent user; C1 and C2: Proficient user <br>

<h2>Digital Skills</h2>
Basic<br>
Microsoft Office (Microsoft Excel, Microsoft Word, Microsoft Powerpoint, Microsoft Access) Google<br>
(Google Docs, Google Colaboratory, Google Sheets) Social Media Outlook<br><br>
Coding<br>
Web Programming: HTML, CSS, Javascript (front-end), Java (back-end) C,C++, C# Python<br>

{% endblock %}