{% extends "base.html" %}

{% block body %}

<h1>My Hobbies</h1>



<h3>Music School</h3>

<p style="font-size:110%;">
Besides ordinary school, I studied at musical school on the specialty of violin and graduated<br>
from it. Due to good playing skills I overstepped from the 1st to the 3rd year. I participated<br>
on some concerts both in musical and ordinary schools.<br><br>
</p>

<img src="static/violin.png" width="10%"><br><br>

<h3>Sport Background</h3>

<p style="font-size:110%;">
In addition, I was fond of sports and at different times attended trainings on judo, basketball<br>
and football, and was awarded many medals and trophies, especially on judo. As a result of hard<br>
work and good technical skills, I took the second place at the city championship in judo and different<br>
places in region championships. Moreover, I participated on the school tournament on football<br>
as a goalkeeper where my team was the 3rd of 12 teams. Also, I had an interest in some other<br>
games such as checkers and chess. I participated on different tournaments on checkers and was <br>
successful in some of them. In one of the city tournaments, I took the first place in checkers amongst<br>
the city schools. Besides my school study and courses, in free time I read books about IT specialty and <br>
literature. My favorable books’ genre, since my childhood, has been self-help (such as Think and Grow rich, Napoleon Hill).<br><br>
</p>

<li style="font-size:150%; display:inline"><img src="static/judo.jpg" width="20%"></li>&nbsp&nbsp&nbsp
<li style="font-size:150%; display:inline"><img src="static/books.jpg" width="10.8%"></li>&nbsp&nbsp&nbsp
<li style="font-size:150%; display:inline"><img src="static/checkers.jpg" width="25.5%"></li>


{% endblock %}