{% extends "base.html" %}

{% block body %}
<!-- <img src="static/IT.jpg" width="50%"> -->


<h1>Information Technology</h1>

<p style="font-size:120%;">

Information technology (IT) is the use of any computers, storage, networking and other physical<br>
devices, <a target="_blank" href="https://searchdatacenter.techtarget.com/definition/infrastructure">infrastructure</a> and processes to create, process, store, secure and exchange all <br>
forms of electronic data. Typically, IT is used in the context of business operations, as opposed<br>
to technology used for personal or entertainment purposes. The commercial use of IT encompasses both<br>
computer technology and telecommunications.<br><br>

The Harvard Business Review coined the term information technology to make a distinction between<br>
purpose-built machines designed to perform a limited scope of functions, and general-purpose<br>
computing machines that could be programmed for various tasks. As the IT industry evolved from<br>
the mid-20th century, computing capability increased, while device cost and energy consumption <br>
decreased, a cycle that continues today when new technologies emerge.<br><br>

If you are interested in Information Technology you can learn more about it by clicking to <a target="_blank" href="https://en.wikipedia.org/wiki/Information_technology">this link</a>.<br><br><br>


<a href="/computing">Return Computing Technologies</a>

</p>

{% endblock %}