{% extends "base.html" %}

{% block body %}

<!-- <img src="static/soft.png"> -->

<h1>Software Development</h1>

<p style="font-size:120%;">

Software engineering is an evolving engineering discipline. It deals with systematic approaches<br>
to building large software systems by teams of programmers. We have given a brief review of the<br>
essential elements of software engineering including product-related issues such as requirements,<br>
design, and validation, and process-related issues including process models and their assessment.<br> <br>

With the pervasiveness of software in society, the importance of software engineering is sure to grow.<br>
As technologies in diverse areas are increasingly controlled by software, challenges, requirements,<br>
and responsibilities of software engineers also grow. For example, the growth of the Internet has <br>
spurred the need for new techniques to address the development and large-scale deployment of software<br>
products and systems. The development of e-commerce applications has necessitated the development of<br>
 techniques for achieving security in software systems. As new applications and technologies are<br>
 onstantly emerging, the software engineering field promises to stay a vibrant and active field<br>
 in a constant state of flux. <br><br>

 If you are interested in Software Development you can learn more about it by clicking to <a target="_blank" href="https://bit.ly/3mEAMbX">this link</a>.<br><br><br>



<a style="font-size:110%;" href="/computing">Return Back to Computing Technologies</a>

</p>
{% endblock %}