{% extends "base.html" %}

{% block body %}

<!-- <img src="static/VR.jpg" width="50%"> -->

<h1>Virtual Reality</h1>

<p style="font-size:120%;">

Virtual reality (VR) is a simulated experience that can be similar to or completely different from<br>
the real world. Applications of virtual reality include entertainment (e.g. video games), education <br>
(e.g. medical or military training) and business (e.g. virtual meetings). Other distinct types of <br>
VR-style technology include augmented reality and mixed reality, sometimes referred to as extended <br>
reality or XR.<br><br>

Currently, standard virtual reality systems use either virtual reality headsets or multi-projected <br>
environments to generate realistic images, sounds and other sensations that simulate a user's physical <br>
presence in a virtual environment. A person using virtual reality equipment is able to look around the <br>
artificial world, move around in it, and interact with virtual features or items. The effect is commonly<br>
created by VR headsets consisting of a head-mounted display with a small screen in front of the eyes,<br>
but can also be created through specially designed rooms with multiple large screens. Virtual reality<br>
typically incorporates auditory and video feedback, but may also allow other types of sensory and<br>
force feedback through haptic technology.<br><br>

If you are interested in Virtual Reality you can learn more about it by clicking to <a target="_blank" href="https://en.wikipedia.org/wiki/Virtual_reality">this link</a>.<br><br><br>



<a style="font-size:110%;" href="/computing">Return Back to Computing Technologies</a>

</p>
{% endblock %}